.stApp{

background:#0F172A;

}

section[data-testid="stSidebar"]{

background:#111827;

}

div[data-testid="metric-container"]{

background:#1E293B;

border-radius:18px;

padding:18px;

border:1px solid #334155;

box-shadow:0 6px 20px rgba(0,0,0,.30);

}

h1,h2,h3,h4{

color:white;

}

p,label,span{

color:#CBD5E1;

}
